<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header('Blog index')" />

<body>
    <div id="root">
        <div class="container">
            <div class="row">

                <div class="six columns align-center">
                    <button type="button" v-on:click="goLogin">Connexion</button>
                    <button type="button" v-on:click="goInscription">Inscription</button>
                </div>


            </div>
        </div>
    </div>
</body>
<div th:replace="fragments/footer :: foot"></div>

<script>
    var app = new Vue({
        el: '#root',
        methods: {
            goLogin() {
                document.location.replace("/login");
            }
            ,
            goInscription() {
                document.location.replace("/registration");
            }
        }

    });
</script>

</html>